<!DOCTYPE html>
<html>
<head>
	<title>Run-time Results</title>
</head>
<body>
	<img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\accuracy\Blood.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\accuracy\Heart.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\accuracy\Diabetes.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\accuracy\Surgery.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\accuracy\Lung.png">
</body>
</html>