<!DOCTYPE html>
<html>
<head>
	<title>Major Project</title>
	<style>
	body{
		background-color: yellow;
		background-size: 10%;
	}
	a:hover{
		color: red;
	}
	</style>
</head>
<body align="center">
	<!-- <marquee direction="up" height="100" width="100" bgcolor="white"> -->
	<h1>Ensemble Methods on Scientific Data</h1>
	<a href="{{ url_for('main') }}">Tables</a>
	<!-- <a href="{{ url_for('main') }}">Demonstration</a>
	<a href="{{ url_for('accuracy') }}">Accuracy</a>
	<a href="{{ url_for('time') }}">Time</a> -->
<!-- </marquee> -->
</body>
</html>