<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\time\Blood.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\time\Heart.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\time\Diabetes.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\time\Surgery.png">
    <img src="C:\Users\manoj\OneDrive\Desktop\Flask_Sample_App\templates\static\time\Lung.png">
</body>
</html>